* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}




body {
	height: 100vh;
	background-color: black;
	display: flex;
}

#card-area {
	border: 2px solid grey;
	width: 640px;
	height: 640px;
	display: flex;
	flex-wrap: wrap;
	background-color: blue;
	margin: auto;
}


.cards{
	
	border: .1px solid blue;
	width: 25%;
	height: 33%;
	position: relative;
	font-size: 100px;
	text-align: center;	
	background-color: black;
	/*transform: rotateY(180deg);

	transform-style: preserve-3d;
	transition: all 0.5 ease;*/
}

p{
	margin: auto 0;
	padding: 25px;
	position: absolute;
	color: white

	

	
}
h1{
	color: white;
	text-align: center;
	display: flex;
	padding: 25px;
}
img{
	padding: 0px;
	margin: auto 0;
	height: 98%;
	width: 149px;
	flex-wrap: wrap;
	position: relative;
	background-color: lightblue;

}
#start{
	height: 40px;
	margin: 50px;
	border: 10px solid white;
	display: flex;
	position: absolute;
	flex-wrap: wrap-reverse;
	color: blue;
	

}
#timer{
	color: blue;
	margin: 10px; 
	text-align: bottom;
	font-size: 18px;
	background-color: white;
	display: flex;
    flex-direction: column-reverse;
    border: 2px solid white;

}
#matches{
	color: blue;
	font-size: 18px;
	position: relative;
    margin: 10px;
    display: flex;
    background-color: white;
    flex-direction: column-reverse;
    border: 2px solid white;
}
#lose{
	color: lightblue;
	font-size: 30px;
	width: 10px;
	height: 20px;
}
































	
}